*{
    margin:0px 0px;
    padding: 0%;
}
.HeaderSection{
    padding: 20px 10px;
    display: flex;
    gap:20px;
    justify-content: space-between;
    background-color: black;
    color: white;

}
.left{
    display: flex;
    gap: 20px;
}
.title{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.items{
    display: flex;
    gap: 20px;
}
.search{
    margin-left: -30px;
}
.search input{
    width: 25rem;
    height: 30px;
}
.right{
    display: flex;
    gap: 20px;
}
.banner img{
    width: 100%;
}
.collection{
    display: flex;
    gap:10px;
    margin: 10px 0px;
}
.collection img{
    width: 235px;
    height: 300px;
}
.footer img{
    width: 100%;
}